.dijBod {
    background: linear-gradient(white,slategray,rgb(173, 142, 57),rgb(122, 96, 24)),rgb(95, 62, 12);
}

.countryName {
    letter-spacing: .75em;
    -webkit-animation: zoomin 5s 1;
    animation-fill-mode: forwards;
    
}

h4 {
    -webkit-animation: zoomin 5s 1;
    animation-fill-mode: forwards;
    
}
.picDiv {
    display: inline-block;
    overflow: hidden;
  }
  .picture {
    display: block;
    -webkit-animation: zoomin 10s 1;
    animation-fill-mode: forwards;
    transition: all 0.3s;
  }