.dijBod {
    background: linear-gradient(white,slategray,rgb(173, 142, 57),rgb(122, 96, 24)),rgb(95, 62, 12);
}

.countryName {
    letter-spacing: .75em;
    -webkit-animation: zoomin 5s 1;
    animation-iteration-count:infinite;
}

h4 {
    -webkit-animation: zoomin 5s 1;
    animation-iteration-count:infinite;
}