.germanyPic {
  max-width: 100vw;
  height: auto;
  
  
}

.germBody {
  background: linear-gradient(white,white,white,slategray,gray,rgb(51, 50, 50))
}

h1 {
  letter-spacing: .5em;
  -webkit-animation: zoomin 5s 1;
  animation-fill-mode: forwards;

}

h4 {
  -webkit-animation: zoomin 5s 1;
  animation-fill-mode: forwards;
}

.picDiv {
  display: inline-block;
  overflow: hidden;
}
.germanyPic {
  display: block;
  -webkit-animation: zoomin 10s 1;
  animation-fill-mode: forwards;
  transition: all 0.3s;
}