
.iceBod {
    background: linear-gradient(white,white,white,white,lightblue,green,rgb(12, 71, 12),navy);
}

.countryName {
   
    -webkit-animation: zoomin 5s .5;
    animation-fill-mode: forwards;
   
   
}

h4 {
    -webkit-animation: zoomin 3s 1;
    animation-fill-mode: forwards;
    
}

.picDiv{
    display: inline-block;
    overflow: hidden;
  }
  
  /* .pictureIce {
    display: block;
    -webkit-animation: zoomin 10s 1;
    animation-fill-mode: forwards;
    transition: all 0.3s;  */


    .pictureIce {
        width:100vw;
    }