.navIcon {
  width: 27px;
  margin-bottom: 6px;
  padding-top: 10px;
  padding-left: 5px
}

.navQuote {
  display: inline-block;
  font-style: italic;
  color: white;
  text-align: center;
  width: 60%;
}

.navbar-nav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
}

.nav-item {
  display: inline;
}

.nav-link {
  float: left;
  display: block;
  padding: 16px 8px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.hover-link:hover {
  color: black;
  background: white;
}

.hover-link:link {
  color: white;
}

.hover-link:visited {
  color: white;
}

.hover-link:visited:hover {
  color: black;
}

.navbarDiv {
  display: block;
  background-color: black;
}

.navbar-brand {
  float: left;
}

body {
  margin: 0px;
}

main {
  margin: 4px;
}

.VKI {
  color: white;
}

nav {
  width: 100%;
  background: black
}

.active {
  color: black;
  background-color: silver;
}

.active:visited {
  color: black;
}

.picture {
  margin: 0px;
}

@media (max-width: 1057px) {
  .navQuote {
    visibility: hidden;
  }
  nav {
    max-height: 50.4px;
  }
}